app = 'backend-solitary-smoke-8148'
primary_region = 'dfw'

[build]
  dockerfile = "Dockerfile"

[env]
  SURVEY_STATE_PATH = '/data/survey_state.json'

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[mounts]]
  source = 'data'
  destination = '/data'
  initial_size = '1gb'

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
